body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.fixed {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: 'League Spartan', sans-serif;
}

p {
    font-family: 'League Spartan', sans-serif;
}

#fade {
    position: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0%) 30%, #2aa433 70%, #114915);
    height: 100vh;
    width: 100%;
    z-index: 10;
    opacity: 90%;

    transition-property: all;
    transition-duration: 200ms;
}

#mainText {
    position: absolute;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5); 
    font-size: 5vw;
    color: #f66a0f;
    text-align: center;
    z-index: 11;
}

img {
    position: fixed;
}

.background {
    height: 150%;
    width: auto;
    transition-property: all;
    transition-duration: 200ms;
}

#tree1 {
    rotate: 0deg;
    transform-origin: 110vh 60vw;
}

#orangutan {
    width: 30%;
    margin-bottom: 5%;
    margin-left: 25%;
    height: auto;

    opacity: 0%;
}

#monkey {
    width: 45%;
    margin-top: 35vh;
    margin-right: 70vw;
    height: auto;

    opacity: 0%;
}

#tapir {
    width: 40%;
    margin-top: 40vh;
    margin-left: 60vw;
    height: auto;

    opacity: 0%;
}

#tiger {
    width: 35%;
    margin-top: 40vh;
    margin-right: 50vw;
    height: auto;

    opacity: 0%;
}

#malayanTiger {
    position: absolute;
    top: 100vh;
    height: 100vh;
    right: 5%;
    z-index: 11;

    text-align: right;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
}

#malayanTapir {
    position: absolute;
    top: 200vh;
    height: 100vh;
    left: 5%;
    z-index: 11;
    
    text-align: left;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
}

#proboscisMonkey {
    position: absolute;
    top: 300vh;
    height: 100vh;
    right: 5%;
    z-index: 11;
    
    text-align: right;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
}

#borneanOrangutan {
    position: absolute;
    top: 400vh;
    height: 100vh;
    left: 5%;
    z-index: 11;
    
    text-align: left;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
}

#endorsement {
    position: absolute;
    top: 500vh;
    height: 100vh;
    z-index: 11;
    
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
    justify-content: center;
}

#donation {
    position: absolute;
    top: 600vh;
    height: 100vh;
    z-index: 11;
    
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: #f66a0f;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 7vh;
    width: 30vh;
    border-radius: 100px;
    font-family: 'League Spartan';
    font-size: 20px;
    background-color: #f66a0f;
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 100ms;
}

button:hover {
    background-color: rgb(231, 102, 15);
}

.leadingText {
    text-shadow: 2px;
    font-size: 9vh;
}

.elements {
    position: relative;
    width: 50vw;
}

.descriptionText {
    text-shadow: 2px;
    font-size: 5vh;
    line-height: normal;
    word-wrap: break-word;
}

#map {
    position: relative;
    width: auto;
    height: 60vh;
    margin: auto;
}

.zoo {
    position: relative;
    width: auto;
    height: 40vh;
    margin: auto;
}

#custom {
    position: fixed;
    z-index: 12;
    bottom: 2vh;
    right: 2vw;

    height: 7vh;
    width: 20vh;
    border-radius: 100px;
    font-family: 'League Spartan';
    font-size: 20px;
    background-color: #ffffff;
    color: #f66a0f;
    border: 2px solid #f66a0f;
    cursor: pointer;
    transition: all 100ms;

    opacity: 0%;
}

#custom:hover {
    background-color: #dfdfdf;
}

